body {
    font: 12px sans-serif;
}

#filterButton {
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

#wrapper {
    clear:both;
}
#chart1 {
    float: left;
}
#chart2 {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}
#chart3 {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.line {
    stroke-width: 1.5px;
    fill: none;
}

.totals {
    color: black;
    stroke: black;
}
.cars {
    color: red;
    stroke: red;
}
.pedestrians {
    color: green;
    stroke: green;
}
.motorcycles {
    color: magenta;
    stroke: magenta;
}
.bicycles {
    color: blue;
    stroke: blue;
}
.trucks {
    color: brown;
    stroke: brown;
}
